.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f98921;
  width: 280px;
  height: 56px;
  border-radius: 8px;
  border: none;
  margin: 40px auto 96px;
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  line-height: 27px;
  color: #fff;

  &:hover {
    background-color: $color-primary;
  }

  &:active {
    background-color: $color-active;
  }

  @include on-tablet {
    width: 600px;
    margin: 56px auto 120px;
  }

  @include on-desktop {
    width: 498px;
  }

  &--left {
    @include on-desktop {
      width: 324px;
      margin: 56px 0 120px;
    }
  }
}
