.product {
  &__photo {
    width: 100%;
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__price {
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    line-height: 140%;
  }

  &__content {
    margin-bottom: 12px;
  }
}
